# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignorar carpeta con modelo preentrenado y sus archivos pesados
/pubmedbert_model_final_2*
/**/model.safetensors
**/__pycache__/
/*.pt
*.safetensors
*.bin

# Archivos generados o de salida
results/
*.csv
*.json
*.log

# Data que no debería estar versionada
data/
*.ipynb_checkpoints

# Streamlit cache
.streamlit/
.cache/

/venv/
